EXPO_PUBLIC_SUPABASE_URL=https://zeubkitruasjfpxhgdlo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpldWJraXRydWFzamZweGhnZGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMDA0ODAsImV4cCI6MjA5NDc3NjQ4MH0.pmJ7C9G733GEk36Mj1ifWa2OlZn7bKsq3tKdWD1HVck
 